In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [2]:
path = r"C:\Users\nagal\OneDrive\Documents\NareshIT\EDA\Visadataset.csv"
visa_df = pd.read_csv(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [6]:
visa_df.dtypes
type(visa_df.dtypes)

pandas.core.series.Series

In [5]:
# Converting Series to Dictionary
types = dict(visa_df.dtypes) 
types

{'case_id': dtype('O'),
 'continent': dtype('O'),
 'education_of_employee': dtype('O'),
 'has_job_experience': dtype('O'),
 'requires_job_training': dtype('O'),
 'no_of_employees': dtype('int64'),
 'yr_of_estab': dtype('int64'),
 'region_of_employment': dtype('O'),
 'prevailing_wage': dtype('float64'),
 'unit_of_wage': dtype('O'),
 'full_time_position': dtype('O'),
 'case_status': dtype('O')}

In [7]:
for key in types:
    print(key)

case_id
continent
education_of_employee
has_job_experience
requires_job_training
no_of_employees
yr_of_estab
region_of_employment
prevailing_wage
unit_of_wage
full_time_position
case_status

In [11]:
cat_columns = [key for key, value in types.items() if value=='object']
num_columns = [key for key, value in types.items() if value != 'object']
num_columns

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [13]:
type(cat_columns)

list

In [14]:
cat_columns

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'region_of_employment',
 'unit_of_wage',
 'full_time_position',
 'case_status']

In [22]:
visa_df['region_of_employment'].unique() # Returns the unique values

array(['West', 'Northeast', 'South', 'Midwest', 'Island'], dtype=object)

In [21]:
visa_df['region_of_employment'].nunique()  # Returns the count of unique values

5

In [23]:
for i in visa_df['region_of_employment'].unique():
    print(i)

West
Northeast
South
Midwest
Island

In [25]:
for i in visa_df['region_of_employment'].unique():
    con = visa_df['region_of_employment']==i
    size = len(visa_df[con])
    print(f"The number of employees in region {i} is : {size}")

The number of employees in region West is : 6586
The number of employees in region Northeast is : 7195
The number of employees in region South is : 7017
The number of employees in region Midwest is : 4307
The number of employees in region Island is : 375

In [30]:
#Preparing the lists for region and employees in each region
regions=visa_df['region_of_employment'].unique()
region_employee_list=[]
for i in visa_df['region_of_employment'].unique():
    con=visa_df['region_of_employment']==i
    region_employee_list.append(len(visa_df[con]))

#region_employee_list
#data=zip(regions,)
print(regions)
print(region_employee_list)

['West' 'Northeast' 'South' 'Midwest' 'Island']
[6586, 7195, 7017, 4307, 375]

In [32]:
# Creating the dataframe
data=zip(regions,region_employee_list)
cols=['Region','Emp_Count']
region_emp_df=pd.DataFrame(data,columns=cols)
region_emp_df

      Region  Emp_Count
0       West       6586
1  Northeast       7195
2      South       7017
3    Midwest       4307
4     Island        375

In [33]:
# Export dataframe into CSV file
region_emp_df.to_csv('Region_Emp_Count.csv',index=False)

In [36]:
path=r'C:\Users\nagal\OneDrive\Documents\NareshIT\EDA\Region_Emp_Count.csv'
region_emp_file_df = pd.read_csv(path)
region_emp_file_df

      Region  Emp_Count
0       West       6586
1  Northeast       7195
2      South       7017
3    Midwest       4307
4     Island        375

In [38]:
region_emp_file_df.value_counts()

Region     Emp_Count
Island     375          1
Midwest    4307         1
Northeast  7195         1
South      7017         1
West       6586         1
Name: count, dtype: int64

In [40]:
dir(region_emp_file_df)
type(region_emp_file_df)

pandas.core.frame.DataFrame

In [52]:
cdf=visa_df['continent'].value_counts()

In [53]:
keys=cdf.keys()
keys

Index(['Asia', 'Europe', 'North America', 'South America', 'Africa',
       'Oceania'],
      dtype='object', name='continent')

In [55]:
values=cdf.values
values

array([16861,  3732,  3292,   852,   551,   192], dtype=int64)

In [57]:
df=pd.DataFrame(zip(keys, values), columns=['Label','Count'])
df.to_csv('Continent1.csv', index=False)