In [1]:
import pandas as pd
import numpy as ny
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = r"C:\Users\nagal\OneDrive\Documents\NareshIT\EDA\Visadataset.csv"
visa_df = pd.read_csv(path)
visa_df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [5]:
types = dict(visa_df.dtypes)
types

{'case_id': dtype('O'),
 'continent': dtype('O'),
 'education_of_employee': dtype('O'),
 'has_job_experience': dtype('O'),
 'requires_job_training': dtype('O'),
 'no_of_employees': dtype('int64'),
 'yr_of_estab': dtype('int64'),
 'region_of_employment': dtype('O'),
 'prevailing_wage': dtype('float64'),
 'unit_of_wage': dtype('O'),
 'full_time_position': dtype('O'),
 'case_status': dtype('O')}

In [9]:
cat_columns = [key for key, value in types.items() if value=='object']
num_columns = [key for key, value in types.items() if value!='object']
print(cat_columns)
print(num_columns)

['case_id', 'continent', 'education_of_employee', 'has_job_experience', 'requires_job_training', 'region_of_employment', 'unit_of_wage', 'full_time_position', 'case_status']
['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [10]:
type(cat_columns)

list

In [13]:
cat_columns = visa_df.select_dtypes(include='object').columns
cat_columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [14]:
num_columns = visa_df.select_dtypes(exclude='object').columns
num_columns

Index(['no_of_employees', 'yr_of_estab', 'prevailing_wage'], dtype='object')

In [11]:
visa_df['continent']

0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
          ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia
Name: continent, Length: 25480, dtype: object

In [15]:
#List of columns to print:
visa_df[['case_id', 'continent', 'education_of_employee']]

         case_id continent education_of_employee
0         EZYV01      Asia           High School
1         EZYV02      Asia              Master's
2         EZYV03      Asia            Bachelor's
3         EZYV04      Asia            Bachelor's
4         EZYV05    Africa              Master's
...          ...       ...                   ...
25475  EZYV25476      Asia            Bachelor's
25476  EZYV25477      Asia           High School
25477  EZYV25478      Asia              Master's
25478  EZYV25479      Asia              Master's
25479  EZYV25480      Asia            Bachelor's

[25480 rows x 3 columns]

In [16]:
visa_df.continent

0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
          ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia
Name: continent, Length: 25480, dtype: object

In [17]:
visa_df.case_id

0           EZYV01
1           EZYV02
2           EZYV03
3           EZYV04
4           EZYV05
           ...
25475    EZYV25476
25476    EZYV25477
25477    EZYV25478
25478    EZYV25479
25479    EZYV25480
Name: case_id, Length: 25480, dtype: object

In [18]:
visa_df.loc[:,['continent']]

      continent
0          Asia
1          Asia
2          Asia
3          Asia
4        Africa
...         ...
25475      Asia
25476      Asia
25477      Asia
25478      Asia
25479      Asia

[25480 rows x 1 columns]

In [ ]:
visa_df['continent']  # dataframe
visa_df[['continent']] # we can read multiple columns
visa_df.continent   # Series
visa_df.loc[:,['continent']] # Dataframe

In [21]:
type(visa_df['continent'])

pandas.core.series.Series

In [23]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [24]:
len(visa_df['continent'].unique())

6

In [42]:
visa_df['continent'].nunique()

6

In [43]:
con=visa_df['continent']=='Asia'
len(visa_df[con])

TypeError: 'DataFrame' object is not callable

In [33]:
type(visa_df[con])
visa_df[con]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [37]:
for i in visa_df['continent'].unique():
    con=visa_df['continent']==i
    count = len(visa_df[con])
    print(f"Number of continent with {i} is : {count}")

TypeError: 'DataFrame' object is not callable

In [36]:
for i in visa_df['continent'].unique():
    con=visa_df['continent']==i
    count = len(visa_df[con])
    print(f"The number of application for the continent {i} is : {count}")

TypeError: 'DataFrame' object is not callable

In [44]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

In [63]:
con=visa_df['continent']=='Asia'
visa_df[con]
#count=len(visa_df[con])
#count
type(visa_df[con])

pandas.core.frame.DataFrame

In [61]:
len(visa_df[visa_df['continent']=='Oceania'])

TypeError: 'DataFrame' object is not callable

In [49]:
visa_df['education_of_employee'].unique()

array(['High School', "Master's", "Bachelor's", 'Doctorate'], dtype=object)

In [57]:
con=visa_df[visa_df['education_of_employee']=="Bachelor's"]
count=len(visa_df[con])

ValueError: Boolean array expected for the condition, not object